#email {
  padding: 50px;
  margin-top: 50px;
  width: 500px;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: #fff5e6;
}

#confidential,
#top-secret {
  display: inline-block;
  padding: 10px 15px;
  margin-left: 20px;
  border: 2px solid red;
  font-weight: bold;
}

#confidential {
  transform: rotate(-15deg);
}

#top-secret {
  transform: rotate(15deg);
}

.blurred {
  filter: blur(3px);
} 