body {
  background-color: #e6f2ff;
  font-family: Arial, sans-serif;
}

.form-container {
  background-color: white;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin: 100px auto;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  font-size: 16px;
  padding: 8px;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
} 