body {
  background-color: #bfefff;
}

/* HOUSE */
#house {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: #ff9f80;
  border: 6px solid #b35900;
  margin: 100px auto;
}

/* COMMON CHILD RULE */
#house > div {
  position: absolute;
}

/* ROOF */
#roof {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #b35900;
  border: 6px solid #8c3f00; 
}

/* CHIMNEY */
#chimney {
  position: absolute;
  width: 60px;
  height: 120px;
  background-color: #e6e6e6;
  border: 4px solid #333;
  top: -120px;   
  left: 320px;
  z-index: -1;
}


/* WINDOWS */
#window-1,
#window-2 {
  width: 80px;
  height: 80px;
  background-color: #ffff99;
  border: 5px solid #b35900;
  top: 150px;
}

#window-1 {
  left: 80px;
}

#window-2 {
  right: 80px;
}

/* DOOR */
#door {
  width: 90px;
  height: 140px;
  background-color: #f0f0f0;
  border: 5px solid #999;
  bottom: 0;
  left: 205px;
} 