/* Center everything */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

/* Space container */
.space {
  width: 200px;
  height: 200px;
  position: relative;
}

/* Earth */
.earth {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Orbit path */
.orbit {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  animation: orbit 5s linear infinite;
}

/* Moon */
.moon {
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Animation */
@keyframes orbit {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
} 