/* Page background */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

/* White card container */
.container {
  background-color: white;
  padding: 30px 35px;
  border-radius: 12px;
  width: 460px;
}

/* Heading */
.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

/* Main list */
.todo-list {
  list-style: none;
  padding: 0;
}

/* Task cards */
.todo-list > li {
  background-color: #eaf6ea;
  border-radius: 10px;
  padding: 18px 20px;
  margin-bottom: 20px;
}

/* Checkbox */
.todo-list input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.1);
}

/* Labels */
.todo-list label {
  font-size: 16px;
  font-weight: 500;
}

/* Sub items */
.sub-item {
  list-style: none;
  margin-top: 12px;
  padding-left: 28px;
}

/* REQUIRED: no underline */
a {
  text-decoration: none;
}

/* Link states */
.sub-item-link:link {
  color: #1a73e8;
}

.sub-item-link:visited {
  color: #6a1b9a;
}

.sub-item-link:hover {
  color: #0b8043;
}

.sub-item-link:active {
  color: #d93025;
}

.sub-item-link:focus {
  outline: 2px solid #fbbc04;
  outline-offset: 2px;
} 